<%=render :partial => "nav" %>
 
	
<h2><%=l(:label_feedbacks)%></h2>
<%@feedbacks.each do |w|%>
<h3><%= avatar(w.user, :size => "18")%> <%=w.user.name%>: <%=h w.day %>(<%=DateTime.parse(w.day).strftime('%A').to_s%>)</h3>
<div class="contextual">
<%=link_to "", {:action => 'edit', :id => w.id}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) if can_edit?(w)%>
</div>
<p class="author"><%= authoring w.created_at, w.author %></p>
<div class="wiki">
	
	<table width="100%">
		<tr>
			<td COLSPAN=2 BGCOLOR="#eee">
 				<%=l(:feedback_index_item_score)%>: <%=score_title w.score%> (<%=w.tags%>)  
 			</td>
		</tr>
		<tr>
			<td width="60%"><%=l(:feedback_index_item_good)%></td>
			<td width="40%"><%=l(:feedback_index_item_nogood)%></td>
		</tr>
		<tr>
			<td><%= textilizable(w.good) %></td>
			<td><%= textilizable(w.nogood) %></td>
		</tr>
	</table>
	
 

	
</div>
<%end%>
<p class="pagination"><%= pagination_links_full @feedbacks_pages %></p>

<% content_for :sidebar do %>
	<%=render :partial => "sidebar" %>
<% end %>
 

<% html_title "#{l(:label_worklog)}" %>
