<%=render :partial => "nav" %>

<h2><%= l(:label_feedback_new) %></h2>


<%= labelled_form_for @feedback, :url => feedbacks_path, :html => { :id => 'feedback-form' } do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_create) %>
<% end %>

<div id="preview" class="feedback"></div>


<% content_for :sidebar do %>
	<%=render :partial => "sidebar" %>
<% end %>

<% html_title "#{l(:label_feedback_new)} - #{l(:label_feedback)}" %>